body {
    background: url("../images/background.png") no-repeat;
    background-size: cover, contain;
    background-attachment: fixed;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

.conteiner {
    width: 1065px;
    margin-left: auto;
    margin-right: auto;
}

.header_elements {
    display: block;
    margin: 50px calc(100% - 1065px) 50px 0;
    color: #fff;
    position: relative;
}

.logo_img {
    float: left;
    vertical-align: bottom;
}

.logo_text1 {
    font-size: 29px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    width: 29px;
    float: left;
    line-height: 22px;
    margin-left: 15px;
}

.logo_text2 {
    font-size: 18px;
}

.logo_link:hover .logo_text1 {
    color: #f26522;
}

.logo_link:hover .logo_img {
    opacity: 0;
}

.logo_link:hover::before {
    content: url("../images/logo2.png");
    position: absolute;
    left: 0px;
    top: 0px;
}

.cont_info {
    float: right;
    width: 245px;
    text-align: right;
    font-size: 18px;
}

.main_list {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }

/*Pic1*/
.shopping {
    float: left;
    clear: left;
    margin: 40px 70px 0 0;
    width: 310px;
    height: 205px;
    position: relative;
}

.link_1 {
    text-decoration: none;
    color: #fff;
}

.link_1:visited {
    color: #fff;
}

.link_1:hover .border_list {
    display: block;
}

.link_1:hover .p_down_link {
    color: #f26522;
}

/*Pic2*/
.sightseeing {
    float: left;
    margin: 40px 70px 0 0;
    width: 310px;
    height: 205px;
    position: relative;
}

.link_2 {
    text-decoration: none;
    color: #fff;
}

.link_2:visited {
    color: #fff;
}

.link_2:hover .border_list {
    display: block;
}

.link_2:hover .p_down_link {
    color: #f26522;
}

/*Pic3*/
.food {
    float: left;
    margin: 40px 70px 0 0;
    width: 310px;
    height: 205px;
    position: relative;
}

.link_3 {
    text-decoration: none;
    color: #fff;
}

.link_3:visited {
    color: #fff;
}

.link_3:hover .border_list {
    display: block;
}

.link_3:hover .p_down_link {
    color: #f26522;
}

/*Pic4*/
.bars {
    float: left;
    margin: 96px 70px 0 0;
    width: 310px;
    height: 205px;
    position: relative;
}

.link_4 {
    text-decoration: none;
    color: #fff;
}

.link_4:visited {
    color: #fff;
}

.p_border_4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.link_4:hover .border_list {
    display: block;
}

.link_4:hover .p_down_link {
    color: #f26522;
}

/*Pic5*/
.art {
    float: left;
    margin: 96px 70px 0 0;
    width: 310px;
    height: 204px;
    position: relative;
}

.link_5 {
    text-decoration: none;
    color: #fff;
}

.link_5:visited {
    color: #fff;
}

.link_5:hover .border_list {
    display: block;
}

.link_5:hover .p_down_link {
    color: #f26522;
}

/*Pic6*/
.walking {
    float: left;
    margin: 96px 70px 0 0;
    width: 310px;
    height: 204px;
    position: relative;
}

.link_6 {
    text-decoration: none;
    color: #fff;
}

.link_6:visited {
    color: #fff;
}

.link_6:hover .border_list {
    display: block;
}

.link_6:hover .p_down_link {
    color: #f26522;
}

/*same*/
.img_list {
    width: 308px;
    height: 200px;
    border: 2px solid;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
}

.border_list {
    position: absolute;
    bottom: 1px;
    background-color: #f26522;
    width: 312px;
    height: 63px;
    display: none;
}

.p_border {
    position: absolute;
    bottom: 15px;
    left: 21px;
    font-size: 20px;
}

.p_down_link {
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.details {
    position: absolute;
    bottom: 15px;
    right: 25px;
    font-size: 14px;
}

.details::after {
    content: ' >';
}

/*footer*/
.under_text {
    position: absolute;
    font-size: 10px;
    top: 15px;
    left: 21px;
}

.copyright {
    float: left;
    color: #fff;
    font-size: 12px;
    margin-top: 96px;
    margin-bottom: 20px;
    transform: translateX(-5%);
}

