@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url("../fonts/MyriadPro-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 14px;
    font-family: 'Myriad Pro Regular', sans-serif;
}

.wrapper {
    width: 91.43rem;
    margin: 0 auto;
}

/*Header elements*/
.header {
    font-size: 7.62rem;
    margin: 37px 0;
}

.header_colored {
    color: #4bcaff;
}

.ramda_link, .ramda_link:visited {
    text-decoration: none;
    color: #000000;
}

.top-list {
    background: #35444f;
    font-size: 2rem;
    cursor: pointer;
}

.link {
    display: inline-block;
}

.top_menu, .top_menu:visited {
    color: #ffffff;
}

.link:hover {
    background: #222f3a;
    color: white;
    border: 1px solid #000000;
    border-bottom: none;
    border-top: none;
}

.functional {
    width: 30%;
    text-align: center;
    padding: 1.1rem;
    margin-left: 11.42rem;
}

.ramda {
    width: 10%;
    text-align: center;
    padding: 1.1rem;
}

.fantasy {
    width: 20%;
    text-align: center;
    padding: 1.1rem;
}

.node_js {
    width: 20%;
    text-align: center;
    padding: 1.1rem;
}

/*Aside elements*/
.aside_ob, .main_ob {
    display: inline-block;
    vertical-align: text-top;
}

.aside_ob {
    margin: 2.5rem 1.85rem 0 0;
}

.aside_list {
    border: 1px solid #333333;
    font-size: 2.2rem;
    width: 24.5rem;
    cursor: pointer;
}

.link_aside {
    color: #000000;
}

.link_aside, .link_aside:visited {
    color: #495863;
}

.aside {
    padding: 1.1rem 1.1rem 1.1rem 2.5rem;
}

.aside:hover {
    color: #000000;
    background: #dbdbdb;
    text-align: center;
    border: none
}

.aside:hover .link_aside {
    color: #000000;
}

/*Main elements */
.main_ob {
    margin: 2.5rem 0 2rem 2rem;
}

.div_img {
    border: 1px solid #333333;
    width: 62.79rem;
    height: 37.79rem;
    text-align: center;
    padding: 5.29rem;
}

.img {
    transition: all 300ms ease-out;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.2);
}

.main_text {
    display: inline-block;
}

.main_text {
    width: 61rem;
    padding: 1rem;
    text-align: left;
    font-size: 1.71rem;
}

.main_paragraph {
    padding: 1rem;
}

/*Footer elements*/
.footer_li {
    display: inline-block;
    padding: 1rem;
}

.footer {
    width: 100%;
    background: #b4b7ba;
    color: #0c1927;
    font-size: 2rem;
}

.link_footer {
    text-decoration: none;
    color: #000000;
}

.link_footer:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer_list, .copyright {
    display: inline-block;
}

.footer_list {
    padding: 1rem;
    cursor: pointer;
}

.copyright {
    margin-left: 10rem;
}