.input_price {
    margin-top: 20px;
    position: relative;
}
.input_form {
    float: left;
    position: absolute;
}

.input_form.active {
    outline-color: #0c6818;
}

.input_form.active.colored {
    color: #0c6818;
}

.input_text {
    float: left;
    margin: 0;
}

.additional_text {
    font-size: 12px;
    color: #0c6818;
    line-height: 20px;
    vertical-align: middle;
}

.remove_button {
    font-size: 10px;
    border-radius: 1px;
    padding: 1px 2px;
    text-align: center;
    margin-left: 5px;
    line-height: 10px;
    vertical-align: middle;
}

.incorrect_value {
    font-size: 12px;
    color: #d11705;
    margin: 0;
    line-height: 20px;
    vertical-align: middle;
}

.input_form.incorrect {
    border: 2px solid #d11705;
}

.out_div {
    position: absolute;
    top: 40px;
    left: 88px;
}

.up_div {
    position: absolute;
    top: 0;
    left: 88px;
}
