.top_screen {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 1366px;
    font-family: Verdana, sans-serif;
}

/*HEADER*/
.header {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.4);
}

.green_link {
    text-decoration: none;
    color: #fff;
    transition: color 300ms;
}

.green_link:visited {
    color: #fff;
}

.green_link:hover {
    color: #3cb878;
}

.journey {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    padding: 25px 0 25px 70px;
}

.icon.calendar {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('../images/css_sprites_all.png') -10px -10px;
    margin-left: 57%;
    padding-left: 20px;
}

.icon.calendar:hover {
    background: url('../images/css_sprites_all.png') -49px -10px;
}

.icon.mail {
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url('../images/css_sprites_all.png') -168px -10px;
    padding-left: 20px;
}

.icon.mail:hover {
    background: url('../images/css_sprites_all.png') -216px -10px;
}

.icon.map {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/css_sprites_all.png') -88px -10px;
    padding-left: 20px;
}

.icon.map:hover {
    background: url('../images/css_sprites_all.png') -128px -10px;
}

.left_line_header {
    display: inline-block;
    width: 0;
    height: 20px;
    border-left: 1px solid grey;
}

.header_right_text {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.header_right_link {
    color: #3cb878;
    text-decoration: none;
}

.header_right_link:active {
    color: #3cb878;
}

.header_right_link:hover {
    text-decoration: underline;
}

/*MAIN BLOCK*/

.main {
    position: relative;
    height: calc(100vh - 70px);
}

.main_block {
    position: absolute;
    width: 444px;
    border: 1px solid white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
}

.green_block {
    position: relative;
    background-color: #3cb878;
    width: 20px;
    height: 20px;
    top: 30px;
    left: -1px;
}

.content {
    width: 322px;
    height: auto;
    margin: 0 auto;
}
.sign_up {
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    color: rgba(67, 67, 67, 255);
}

.login {
    display: inline-block;
    color: #49bd81;
    font-size: 14px;
    margin-left: 193px;
    text-decoration: none;
    transition: color 300ms;
}

.login:visited {
    color: #49bd81;
}

.login:hover {
    text-decoration: underline;
}

.left_line {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 1px solid grey;
    position: absolute;
    top: 13px;
    margin-left: 8px;
}

.link_social {
    color: #fff;
    text-decoration: none;
}

.link_social:visited {
    color: #fff;
}

.facebook, .google {
    display: inline-block;
    position: relative;
    margin-top: 15px;
    width: 157px;
    height: 46px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    line-height: 46px;
}

.facebook {
    background-color: #305db8;
    transition: background-color 300ms;
    cursor: pointer;
}

.google {
    background-color: #df4a32;
    margin-left: 2px;
    transition: background-color 300ms;
    cursor: pointer;
}

.facebook:hover {
    background-color: #0b0bb8
}

.google:hover {
    background-color: #df0c14;
}

.icon_social, .socials {
    display: inline-block;
    font-size: 16px;
}

.socials {
    padding-left: 20px;
}

.div_line {
    position: relative;
    margin: 25px 0 15px 0;
}

.line_border {
    text-align: center;
    top: 70px;
    color: #cecece;
}

.line_border::before, .line_border::after {
    content: '';
    height: 1px;
    width: calc(50% - 30px);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
}

.line_border:before {
    position: absolute;
    left: 0;
}

.line_border:after {
    position: absolute;
    right: 0;
}

.inputs {
    width: 100%;
}

.forms {
    display: inline-block;
    width: calc(100% - 27px);
    height: 46px;
    margin: 5px 0;
    border-radius: 6px;
    border: 2px solid #f7f7f7;
    font-size: 14px;
    padding-left: 25px;
}

.forms:focus {
    box-shadow: 10px 5px 10px #e1e1e1;
    outline: none;
}

.checkbox {
    display: none;
}

.new_checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    display: inline-block;
    border-radius: 4px;
    vertical-align: top;
    line-height: 20px;
    margin: 10px 0;
    cursor: pointer;
}

.checkbox:checked + .new_checkbox::before {
    content: "L";
    display: inline-block;
    transform: scaleY(-1) rotate(135deg);
    color: #3cb878;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}

.checkbox_text {
    display: inline-block;
    line-height: 20px;
    margin: 10px 0;
}

.submit {
    display: inline-block;
    width: 100%;
    height: 46px;
    background-color: #3cb878;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin: 15px 0 25px 0;
    transition: background-color 300ms;
    cursor: pointer;
}

.submit:hover {
    background-color: #0cb860;
}

.forms::placeholder {
    color: #bebebe;
}