.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
}

.image {
    width: 320px;
    height: 240px;
}

.button {
    margin: 0 15px;
}