.body_setups {
    background-color: #000;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    font-family: "Star Wars", sans-serif;
    color: #f26522;
    width: 60%;
    height: 100%;
    margin: 0 20% 0 20%;
    text-align: center;
    font-size: 2.5rem;
    transform: perspective(200px) rotateX(25deg);
}

.star-wars {
    position: absolute;
    top: 100%;
    animation: scrolling_titles 30s linear infinite;
}

.heading {
    text-transform: uppercase;
    color: #f26522;
}

.titres {
    color: #fff807;
    line-height: 3rem;
}

@keyframes scrolling_titles {
    0% {
        top: 100%;
        opacity: 1;
    }
    5% {
        top: 100%;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 1;
    }
}

@font-face {
    font-family: Star Wars;
    src: url("fonts/SF Distant Galaxy.ttf");
}