.body {
    box-sizing: border-box;
    font-family: open-s, sans-serif;
}

/*--------- Navigation block ---------*/

.navigation_links1 {
    background-color: #1d2124;
    color: #fff;
    font-size: 15px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.black_box {
    background-color: #000;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo {
    width: 27px;
    height: 27px;
}

.logo_link {
    color: #fff;
    text-decoration: none;
    transition: color 300ms;
}

.logo_link:hover {
    color: #169cb4;
}

.heading_text_nav {
    font-size: 22px;
    margin-right: auto;
    margin-left: 10px;
}

.menu {
    text-transform: uppercase;
    margin-right: auto;
}

.menu_link_main {
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    transition: color 300ms;
}

.menu_link_main:visited {
    color: #fff;
}


.menu_link_main:hover {
    color: #169cb4;
}

.menu_link_search {
    padding-left: 0;
    transition: color 300ms;
}

.menu_link_search:hover {
    color: #169cb4;
}

.fas {
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    width: 17px;
    height: 17px;
}

/*---------- Header ----------*/

.header1 {
    background-image: url("../images/bg_top.jpeg");
    background-position-y: -315px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.header1_cont {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.heading_text_header {
    color: #fff;
    text-transform: uppercase;
    font-size: 27px;
}

.btn {
    width: 170px;
    height: 55px;
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 44px;
    margin-left: 20px;
}

.button_g {
    background-color: #89ca62;
    transition: background-color 300ms;
}

.button_b {
    background-color: #14b9d5;
    transition: background-color 300ms;
}

.button_g:hover {
    background-color: #fff;
    color: #89ca62;
    box-shadow: inset 0 0 0 3px #89ca62;
    font-weight: bold;
}

.button_b:hover {
    background-color: #fff;
    color: #14b9d5;
    box-shadow: inset 0 0 0 3px #14b9d5;
    font-weight: bold;
}

/* ---------- Section with posts ----------*/

.section_posts {
    background-color: #f2f2f2;
    min-height: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts_heading {
    text-transform: uppercase;
    font-weight: bold;
    color: #18b4cf;
    font-size: 27px;
    margin: 60px 0 30px 0;
}

.images_container1 {
    max-width: 1170px;
    max-height: calc(290px + 380px + 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.posts {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

.post_4 {
    margin-top: calc(259px - 380px + 20px);
}

.post_6 {
    margin-top: calc(290px - 380px + 20px);
}

.img_text {
    height: 64px;
    line-height: 64px;
    vertical-align: middle;
    background-color: #fff;
    margin-top: -2px;
}

.image {
    transition: opacity 300ms;
}

.image_link {
    color: #000;
    text-decoration: none;
}

.image_link:visited {
    color: #000;
}

.image_link:hover .image {
    opacity: .8;
    background: rgba(0, 0, 0, .8);
}

.image_link:hover .img_text {
    font-weight: bold;
}

/* ---------- Our most popular clients container ----------*/
.clients_wrapper {
    background-image: url("../images/bg_bottom.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 588px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 40% 1fr 40%;
    grid-template-columns: 35% 1fr 1fr 35%;
    grid-template-areas: "text_clients text_clients text_clients text_clients" "small_line small_line small_line small_line" "img_post img_dryme img_house_home img_journy";
}

.text_clients {
    text-transform: uppercase;
    color: #fff;
    font-size: 32px;
    grid-area: text_clients;
    margin-top: auto;
}

.small_line {
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    grid-area: small_line;
}

.img_post {
    grid-area: img_post;
    margin-left: auto;
    margin-bottom: auto;
}

.img_dryme {
    grid-area: img_dryme;
    margin-bottom: 205px;
}

.img_house_home {
    grid-area: img_house_home;
    margin-bottom: 205px;
    margin-left: -45px;
}

.img_journy {
    grid-area: img_journy;
    margin-right: auto;
    margin-bottom: 205px;
}

.top_rated_text {
    text-transform: uppercase;
    font-size: 27px;
    color: #18b4cf;
    font-weight: bold;
    text-align: center;
    margin-top: 63px;
    margin-bottom: 52px;
}

.top_rated_image {
    width: 100%;
    height: 100%;
}

.top_rated_images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 190px;
    grid-column-gap: 1px;
    justify-content: stretch;
    margin-bottom: 60px;
}

/* ---------- Hot News ----------*/

.hot_news_text {
    text-transform: uppercase;
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 63px;
}

.hot_news_cont {
    width: 1170px;
    display: grid;
    margin: 0 auto;
    grid-row-gap: 42px;
    justify-content: space-between;
    grid-template-rows: 259px 418px 418px 259px;
    grid-template-columns: 277px 33px 245px 60px 245px 33px 277px;
}

.slide1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: span 5;
}

.slide2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 7;
    grid-column-end: 8;
}

.slide3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.slide4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: span 3;
}

.slide5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: span 3;
}

.slide6 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: span 3;
}

.slide7 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}

.slide8 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: span 5;
}

.prophecy_head {
    width: 857px;
    height: 259px;
    font-size: 18px;
    background-color: #f9f7f7;
}

.prophecy_header {
    font-weight: bold;
    font-size: 18px;
    padding: 41px 24px 22px 0;
}

.prophesy_text {
    padding: 0 24px 37px 20px;
}

.prophesy_text_cont {
    display: inline-block;
    float: right;
    font-size: 14px;
    width: 364px;
    height: 260px;
    text-align: right;
    line-height: 21px;
}

.div_rest {
    width: 277px;
    height: 258px;
    background-color: #f9f7f7;
}

.rest_description {
    font-size: 18px;
    text-align: center;
    padding-top: 14px;
    font-weight: bold;
}

.div_rup {
    background-color: #f9f7f7;
    width: 554px;
    height: 418px;
    text-align: right;
    line-height: 21px;
}

.hot_news_blocs_heading {
    font-size: 18px;
    padding: 15px 27px;
    font-weight: bold;
}

.hot_news_blocs_text {
    font-size: 14px;
    padding-right: 27px;
    padding-left: 22px;
}

.image_hot_news {
    transition: opacity 300ms;
}

.hot_news_post_link:hover .image_hot_news {
    opacity: .8;
    background: rgba(0, 0, 0, .8);
}

.hot_news_post_link {
    color: #000;
    text-decoration: none;
}

.hot_news_link:visited {
    color: #000;
}

/*---------- Footer----------*/
.footer {
    background-color: #1d2124;
    color: #fff;
    font-size: 13px;
    height: 70px;
    margin-top: 71px;
    display: grid;
    grid-template-columns: 1fr 585px 585px 1fr;
}

.footer_rights {
    align-self: center;
    justify-self: left;
    grid-column-start: 2;
}

.footer_logo {
    align-self: center;
    justify-self: right;
    grid-column-start: 3;
}

.footer_link {
    text-decoration: none;
}


