.table_style {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

.table_style.active .table_column_style.active{
    background-color: #fff;
}

.table_style.active .table_column_style{
    background-color: #000;
}

.table_column_style {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-color: #fff;
}

.table_column_style.active {
    background-color: black;
}

