.table_wrapper {
    position: relative;
    height: 100vh;
}

.main_table {
    border: 22px solid #3a4965;
    width: 1197px;
    text-transform: uppercase;
    font-family: Arimo, sans-serif;
    text-align: center;
    color: #757575;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

th, td {
    border-bottom: 2px solid #d7d7d7;
    vertical-align: middle;
}

.heading_line th:first-child {
    width: 198px;
    height: 113px;
    font-family: ArimoBold, sans-serif;
    border: none;
}

.heading_line {
    font-family: ArimoBold, sans-serif;
    font-size: 20px;
}

.head_text1 {
    font-size: 14px;
}

.head_text2 {
    font-size: 20px;
    display: inline-block;
}

.heading_line th {
    font-family: ArimoBold, sans-serif;
}

tr th:nth-child(2n), td:nth-child(2n) {
    background-color: #e3e3e3;
}

tr th:not(first-child), td:not(first-child) {
    width: 157px;
}

.fas, .far {
    padding: 10px 0;
}

.standard {
    position: relative;
    background-color: #89c331;
    color: #fff;
    width: 198px;
    height: 167px;
    border: none;
}

.ultimate {
    position: relative;
    background-color: #f04a56;
    color: #fff;
    width: 198px;
    height: 167px;
    border: 0;
}

.premium {
    position: relative;
    background-color: #20807c;
    color: #fff;
    width: 198px;
    height: 167px;
    border: 0;
}

.plan_name {
    font-size: 20px;
    font-family: ArimoBold, sans-serif;
    position: absolute;
    left: 43px;
    top: 20px;
}

.price_pos {
    position: relative;
    left: 25px;
    bottom: 30px;
}

.large_num {
    font-size: 36px;
    position: absolute;
    font-family: ArimoBold, sans-serif;
    left: 0;
}

.small_num {
    font-size: 16px;
    position: absolute;
    font-family: Arimo, sans-serif;
    left: 40px;
    top: 4px;
}

.pric_text {
    font-size: 12px;
    position: absolute;
    left: 70px;
    top: 13px;
}

.text_pos {
    padding: 5px 0;
}

.button {
    width: 144px;
    height: 41px;
    padding: 14px 0;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    left: 25px;
    top: 105px;
}

.b_1 {
    background-color: #414141;
    border-bottom: 7px solid #343434;
}

.button:hover {
    background-color: #2d2d2d;
    border-bottom: 7px solid #000000;
}

@font-face {
    font-family: Arimo;
    src: url("../fonts/arimo/arimo.ttf") format('truetype');
    src: url("../fonts/arimo/arimo.woff") format('woff');
    src: url("../fonts/arimo/arimo.woff2") format('woff2');
}

@font-face {
    font-family: ArimoBold;
    src: url("../fonts/arimo/arimobold.ttf") format('truetype');
    src: url("../fonts/arimo/arimobold.woff") format('woff');
    src: url("../fonts/arimo/arimobold.woff2") format('woff2');
}