.table_wrapper {
    position: relative;
    height: 100vh;
}

.main_table {
    border: 22px solid #3a4965;
    width: 1192px;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #484848;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

th, td {
    vertical-align: middle;
    border-left: 2px solid #e8e8e8;
}

.heading {
    font-weight: bold;
}

.head_row1 {
    width: 310px;
    height: 156px;
    font-size: 30px;
    border: none;
}

.head_row2 {
    background-color: #89c331;
    color: #fff;
    border: none;
}

.head_row3 {
    background-color: #f04a56;
    color: #fff;
    border: none;
}

.head_row4 {
    background-color: #20807c;
    color: #fff;
    border: none;
}


.head_span1 {
    font-size: 18px;
}

.pricing_style1 {
    position: relative;
    width: 277px;
    height: 86px;
}

.price_pos {
    position: absolute;
    top:0;
    left: 20px;
}

.large_num {
    font-size: 60px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.small_num {
    font-size: 24px;
    position: absolute;
    top: 17px;
    left: 115px;
}

.pric_text {
    font-size: 18px;
    width: 110px;
    position: absolute;
    top: 46px;
    left: 115px;
}

.fas, .far {
    margin-right: 10px;
}

.t_body td {
    width: 277px;
    height: 69px;
    font-size: 16px;
}

.t_body tr:nth-child(2n+1) {
    background-color: #f2f2f2;
}

.t_body tr:nth-child(2n) {
    background-color: #e3e3e3;
}

.t_foot td {
    height: 110px;
}

.button {
    width: 192px;
    height: 49px;
    padding: 17px 0;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.b_1 {
    background-color: #484848;
    border-bottom: 7px solid #404040;
}

.b_1:hover {
    background-color: #343434;
    border-bottom: 7px solid #060606;
}

.t_foot td:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

.b_2 {
    background-color: #89c331;
    border-bottom: 7px solid #79b027;
}

.b_2:hover {
    background-color: #6d9c27;
    border-bottom: 7px solid #45681c;
}

.b_3 {
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
}

.b_3:hover {
    background-color: #cf3b43;
    border-bottom: 7px solid #541819;
}

.b_4 {
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
}

.b_4:hover {
    background-color: #185f5b;
}