* {
    box-sizing: border-box;
}

.wrap {
    width: 1280px;
    margin: 0 auto;
}

.navigation, a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #16a085;
    text-decoration: none;
    font-weight: bold;
    word-spacing: 30px;
    margin: 28px 0;
}

.header_main {
    background: #f5f6f7
}

.image_center img {
    width: 1280px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    padding: 5px 0;
}

.content {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}

main {
    width: 1280px;
    padding: 0 0 10px 0;
}

.button {
    text-align: center;
}

button {
    color: #f5f6f7;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    background: #16a085;
    width: 192px;
    height: 51px;
    margin: 0 0 10px 0;
    padding: 5px 0;
}

.invisible {
    float: left;
    color: #ffffff;
    text-align: left;
    width: 50%;
    height: 70px;
}

.footer {
    float: left;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: 50%;
    text-align: center;
    height: 70px;
    margin: 0 auto;
    font-weight: bold;
}